# Python
__pycache__/
*.pyc
.pytest_cache/

# Environments
.venv/
.env

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# UV
uv.lock

# Excel files
mp_reports/

# log files
logs/

# ruff
.ruff_cache/

# zed
.ropeproject

# vscode counter
.VSCodeCounter/